div#topic
  h2.heading Topics
  div.body
    ol
      li Introduction - what is CoffeeSctipt.
      li Syntax - how to write in CoffeeSctipt.
      li Feature - special features of CoffeeSctipt.
      li To use or not to use - why use CoffeeSctipt.