div#topic
  h2.heading Topics
  div.body
    ol
      li Introduction - what is CoffeeSctipt.
      li Syntax - how to write in CoffeeSctipt.
      li Feature - handy features of CoffeeSctipt.
      li Why one might want to consider CoffeeScript.