h2.slide-heading Welcome
div.slide-body
  h3 CoffeeScript 101
  p A little talk on CoffeeScript.
  p
    em by: Long
  p
    em
      a(href='mailto:contact@longyc.com' title='Personal email address.') contact@longyc.com
  p
    em
      a(href='mailto:yongchong.long@servicerocket.com' title='Company email address.') yongchong.long@servicerocket.com