div#hello-world
  h2.heading "Hello, world!" Example
  div.body
    ol
      li CoffeeScript source: 
        span.filename hello.coffee
        pre
          code.language-coffeescript alert 'Hello, world!'
      li Compile:
        pre
          code.language-bash coffee --compile hello.coffee
      li JavaScript output: 
        span.filename hello.js
        pre
          code.language-javascript alert('Hello, world!');