div#installation
  h2.heading Getting Started
  div.body
    ol
      li Install 
        a(href='http://nodejs.org/' title='Node.js official website.') Node.js
        | .
      li Install 
        a(href='https://www.npmjs.com/package/coffee-script/' title='CoffeeScript on npm.') CoffeeScript
        | :
        pre npm install -g coffee-script
      li To compile:
        pre coffee -c /path/to/my-coffeescript-file.coffee