div#what
  h2.heading What is CoffeeScript
  div.body
    ol
      li A language that compiles into JavaScript.
      li With Ruby-like syntax.
      li Created by 
        a(href='https://twitter.com/jashkenas' title='Twitter.') Jeremy Ashkenas
        | .
      li Announced on 2010.
      li Filename extension: 
        code .coffee