div#hello-world
  h2.heading "Hello, world!" Example
  div.body
    ul
      li CoffeeScript:
        pre
          | alert 'Hello, world!'
      li JavaScript:
        pre
          | alert('Hello, world!');