div#variable
  h2.heading Variable
  div.body
    ol
      li Syntax:
        pre
          code.language-coffeescript
            | score = 100
      li Compiled:
        pre
          code.language-javascript
            | var score;
            | 
            | score = 100;