div#why
  h2.heading Why CoffeeScript
  div.body
    ol
      li It is JavaScript, with sugar.
      li It probably compiles into better JavaScript comapred to handwritten.
      li Instead of going through slides, let's do live coding to see why instead.
      li Best place: 
        a(href='http://coffeescript.org/' title='CoffeeScript official website.') CoffeeScript official website
        | .