div#object
  h2.heading Object
  div.body
    ol
      li Syntax:
        pre
          code.language-coffeescript
            | number = value: 0
      li Compiled:
        pre
          code.language-javascript
            | var number;
            |  
            | number = {
            |   value: 0
            | };