div#syntax
  h2.heading Syntax
  div.body
    ol
      li Everything is an expression (almost).
      li Variable scope and var.
      li String interpolation.
      li if, else, unless, chain comparison.
      li Function.