div#expression
  h2.heading Everything is an Expression
  div.body
    ol
      li Almost all statements can be used used as expressions.
      li Exceptions: 
        span.monospace break
        | , 
        span.monospace continue
        | , 
        span.monospace return
      li Function returns are implicit.
      li Encourage referential transparency.
