div#scoping
  h2.heading Lexical Scoping
  div.body
    ol
      li Auto generation of the 
        strong
          code var
        |  keyword.
      li All compiled CoffeeScript are 
        strong wrapped in ananonymous function
      li Prevent pollution on global space.