doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    title CoffeeSript 101
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body.impress-not-supported
    section.fallback-message
      include ./includes/fallback-message.jade
    section#impress
      section.step.slide(data-x='0', data-y='0')
        include ./includes/00-00-cover.jade
      section.step.slide(data-x='0', data-y='800')
        include ./includes/01-00-what.jade
      section.step.slide(data-x='1000', data-y='800')
        include ./includes/01-01-installation.jade
      section.step.slide(data-x='2000', data-y='800')
        include ./includes/01-02-hello-world.jade
      section.step.slide(data-x='0', data-y='1600')
        include ./includes/02-00-why.jade
      section#overview.step(data-x='3000', data-y='1500', data-scale='10')
    script(src='../bower_components/impress.js/js/impress.js')
    script(src='js/main.js')
