doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    title CoffeeSript 101
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='css/prism.css', rel='stylesheet')
    link(href='favicon.ico', rel='shortcut icon')
  body.impress-not-supported
    section.fallback-message
      include ./includes/fallback-message.jade
    section#impress
      section#cover.step.slide(data-x='0', data-y='0')
        include ./includes/00-00-cover.jade
        span#version v0.4.0-SNAPSHOT
      section.step.slide(data-x='1000', data-y='0')
        include ./includes/00-01-prerequisite.jade
      section.step.slide(data-x='2000', data-y='0')
        include ./includes/00-02-topic.jade
      section.step.slide(data-x='0', data-y='800')
        include ./includes/01-00-what.jade
      section.step.slide(data-x='1000', data-y='800')
        include ./includes/01-01-installation.jade
      section.step.slide(data-x='2000', data-y='800')
        include ./includes/01-02-hello-world.jade
      section.step.slide(data-x='0', data-y='1600')
        include ./includes/02-00-syntax.jade
      section.step.slide(data-x='1000', data-y='1600')
        include ./includes/02-01-variable.jade
      section.step.slide(data-x='2000', data-y='1600')
        include ./includes/02-02-control.jade
      section.step.slide(data-x='3000', data-y='1600')
        include ./includes/02-03-function.jade
      section.step.slide(data-x='4000', data-y='1600')
        include ./includes/02-04-object.jade
      section.step.slide(data-x='5000', data-y='1600')
        include ./includes/02-05-expression.jade
      section.step.slide(data-x='0', data-y='2400')
        include ./includes/03-00-feature.jade
      section.step.slide(data-x='0', data-y='3200')
        include ./includes/04-00-the-end.jade
      section#overview.step(data-x='2500', data-y='1600', data-scale='6')
    script(src='js/impress.js')
    script(src='js/main.js')
    script(src='js/prism.js')