doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    title CoffeeSript 101
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='css/prism.css', rel='stylesheet')
  body.impress-not-supported
    section.fallback-message
      include ./includes/fallback-message.jade
    section#impress
      section#cover.step.slide(data-x='0', data-y='0')
        include ./includes/00-00-cover.jade
        span#date February 2015
        span#version v0.3.0-SNAPSHOT
      section.step.slide(data-x='1000', data-y='0')
        include ./includes/00-01-prerequisite.jade
      section.step.slide(data-x='0', data-y='800')
        include ./includes/01-00-what.jade
      section.step.slide(data-x='1000', data-y='800')
        include ./includes/01-01-installation.jade
      section.step.slide(data-x='2000', data-y='800')
        include ./includes/01-02-hello-world.jade
      section.step.slide(data-x='0', data-y='1600')
        include ./includes/02-00-why.jade
      section#overview.step(data-x='1000', data-y='800', data-scale='5')
    script(src='js/impress.js')
    script(src='js/main.js')
    script(src='js/prism.js')