div#installation
  h2.heading Getting Started
  div.body
    ol
      li Install 
        a(href='http://nodejs.org/' title='Node.js official website.') Node.js
        | .
      li Install 
        a(href='https://www.npmjs.com/package/coffee-script/' title='CoffeeScript on npm.') CoffeeScript
        | :
        pre
          code.language-bash npm install --global coffee-script
      li To compile:
        pre
          code.language-bash coffee --compile /path/to/filename.coffee