div#hello-world
  h2.heading "Hello, world!" Example
  div.body
    ol
      li CoffeeScript source: 
        span.filename hello.coffee
        pre
          code.language-coffeescript alert 'Hello, world!'
      li JavaScript output: 
        span.filename hello.js
        pre
          code.language-javascript
            | (function() {
            |   alert('Hello, world!');
            | 
            | }).call(this);
