div#variable
  h2.heading Variable
  div.body
    ol
      li CoffeeScript syntax:
        pre
          code.language-coffeescript
            | score = 100
      li Compile into JavaScript:
        pre
          code.language-javascript
            | var score;
            | 
            | score = 100;